db/init/02_insert.sql linguist-generated -linguist-count
docs/backup.sql linguist-generated -linguist-count
usefulsql.sql linguist-generated -linguist-count
db/init/light.py linguist-generated -linguist-count